body {
  font-size: 0.7em;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25em;
  height: 12em;
  margin-top: 0;
  background-color: rgb(54, 54, 54);
}

h1 {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: white;
}

#update {
  margin-top: 0.2em;
  margin-right: auto;
  margin-left: auto;
  color: white;
}

a {
  font-size: 1.5em;
  margin-top: auto;
  padding-bottom: -0.3em;
  transition: border-bottom ease-in-out 0.5s;
  text-decoration: none;
  color: white;
  border-bottom: 0.1em solid transparent;
}

a:hover {
  text-decoration: none;
  border-bottom: 0.1em solid white;
}
